.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    display: flex;
    flex-direction: row;
    justify-content: "space-between";
    align-items: "stretch";
    position: fixed;
    top: 10vh;
    left: 5%;
    width: 90%;
    background-color: var(--secondary);
    color: var(--alternate);
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}

@media (max-width: 768px) {
    .modal {
        flex-direction: column;
        max-height: 80vh;
    }
}

@media (min-width: 900px) {
    .modal {
        width: 80vw;
        left: calc(50% - 40vw);
    }
}

@media (min-width: 1200px) {
    .modal {
        width: 60vw;
        left: calc(50% - 30vw);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-6rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}